<div id="mainnav"class="hidden-phone hidden-tablet">
  <ul style="display: block;">
    <li id="injection">
        <div class="icon">
          <span class="fs1" aria-hidden="true" ></span>
        </div>
    </li>
  </ul>
</div>

